---
layout: default
title: jewdore cage
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="/blog{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <h1>Blog Posts2</h1>
  {{ site.post_url }}
  <ul class="posts">
    {% for post in site.post_url %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="/blog{{ post.url }}">{{ post.title }}a</a></li>
    {% endfor %}
  </ul>

  
</div>
